<div class="column gap-1 wrapper">
    <!-- post -->
    <h2 class="user">{{ post.userId }}</h2>
    <img [src]="post.image" alt="post " />
  
    <!-- post text -->
    <h2 class="title">{{ post.text }}</h2>
    
    <!-- post createdAt -->
    <div class="row gap-05">
      <span class="createdAt-label">Created At:</span>
      <span class="createdAt">{{ post.createdAt }}</span>
    </div>
    <!-- Action buttons -->
    <div class="row gap-05">
      <button
        type="button"
        pButton
        icon="pi pi-pencil"
        label="Edit"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-trash"
        label="Delete"
        class="p-button-danger"
      ></button>
    </div>
  </div>
  

  